.advertise-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.advertise-container01 {
  width: 100%;
  height: 54px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #464646;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}
.advertise-text {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.advertise-hero {
  width: 100%;
  height: 472px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
.advertise-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.advertise-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.advertise-logo {
  width: 64px;
}
.advertise-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.advertise-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.advertise-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.advertise-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.advertise-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  transition: 0.3s;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}


.advertise-text004 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.advertise-left {
  width: 530px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.advertise-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.advertise-link {
  text-decoration: none;
}
.advertise-link1 {
  text-decoration: none;
}
.advertise-link2 {
  text-decoration: none;
}
.advertise-link3 {
  text-decoration: none;
}
.advertise-link4 {
  text-decoration: none;
}
.advertise-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.advertise-sign-in {
  margin-right: 20px;
  text-decoration: none;
}
.advertise-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.advertise-get-started:hover {
  background-color: #5228F5;
}
.advertise-link5 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.advertise-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.advertise-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.advertise-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.advertise-text005 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.advertise-text006 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.advertise-pricing {
  width: 100%;
  height: 876px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
  background-color: #5228F5;
}
.advertise-text007 {
  color: rgb(255, 255, 255);
  font-size: 55px;
}
.advertise-centered-container {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.advertise-heading {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: column;
}
.advertise-cards {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.advertise-card {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #ffffff;
}
.advertise-text008 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.advertise-text009 {
  color: rgb(0, 0, 0);
  line-height: 24px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.advertise-text010 {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.advertise-bullet-points {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.advertise-point {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.advertise-icon02 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.advertise-text011 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-point01 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.advertise-icon04 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.advertise-text012 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-card1 {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: 40px;
  border-radius: 50px;
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: 124px;
  justify-content: flex-start;
  background-color: #ffffff;
}
.advertise-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.advertise-container03 {
  flex: 0 0 auto;
  width: 101px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.advertise-text013 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.advertise-text014 {
  color: rgb(0, 0, 0);
  line-height: 24px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.advertise-text015 {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.advertise-bullet-points1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.advertise-point02 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.advertise-icon06 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.advertise-text016 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-point03 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.advertise-icon08 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.advertise-text017 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-point04 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.advertise-icon10 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.advertise-text018 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-point05 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.advertise-icon12 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.advertise-text019 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-text024 {
  top: 391px;
  left: 55px;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.advertise-icon14 {
  top: 396px;
  fill: #5228F5;
  left: 40px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.advertise-card2 {
  flex: 1;
  height: 517px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: 40px;
  border-radius: 50px;
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #000000;
}
.advertise-text033 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.advertise-text034 {
  color: rgb(255, 255, 255);
  line-height: 24px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.advertise-text038 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.advertise-bullet-points2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.advertise-point06 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.advertise-icon16 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.advertise-text039 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-point07 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.advertise-icon18 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.advertise-text040 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-point08 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.advertise-icon20 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.advertise-text041 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-point09 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.advertise-icon22 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
}
.advertise-text042 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.advertise-icon24 {
  fill: #5228F5;
  width: 8px;
  height: 8px;
  align-self: center;
}
.advertise-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.advertise-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.advertise-text046 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-container07 {
  flex: 0 0 auto;
  width: auto;
  height: 8px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.advertise-icon26 {
  fill: #5228F5;
  left: 0px;
  width: 8px;
  bottom: -11px;
  height: 8px;
  position: absolute;
  align-self: center;
}
.advertise-text047 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.advertise-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.advertise-get-started1 {
  width: 537px;
  cursor: pointer;
  height: 55px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.advertise-get-started1:hover {
  background-color: #5228F5;
}
.advertise-text052 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.advertise-banner {
  width: 100%;
  height: 329px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  padding-bottom: 52px;
  justify-content: space-between;
}
.advertise-stats {
  width: 100%;
  height: 273px;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.advertise-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.advertise-text060 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.advertise-text062 {
  font-size: 1.5rem;
}
.advertise-text063 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.advertise-get-started2 {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.advertise-get-started2:hover {
  background-color: #5228F5;
}
.advertise-text067 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.advertise-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.advertise-text068 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.advertise-text070 {
  font-size: 1.5rem;
}
.advertise-text071 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.advertise-get-started3 {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.advertise-get-started3:hover {
  background-color: #5228F5;
}
.advertise-text075 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.advertise-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.advertise-text076 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.advertise-text078 {
  font-size: 1.5rem;
}
.advertise-text079 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.advertise-get-started4 {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.advertise-get-started4:hover {
  background-color: #5228F5;
}
.advertise-text083 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.advertise-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.advertise-text084 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.advertise-text086 {
  font-size: 1.5rem;
}
.advertise-text087 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.advertise-get-started5 {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.advertise-get-started5:hover {
  background-color: #5228F5;
}
.advertise-text091 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.advertise-hero1 {
  width: 100%;
  height: 489px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 10px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: flex-start;
  background-color: #5228F5;
}
.advertise-text092 {
  color: #ffffff;
  font-size: 45px;
}
.advertise-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.advertise-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.advertise-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.advertise-text093 {
  font-style: normal;
  font-weight: 500;
}
.advertise-text098 {
  color: #ffffff;
}
.advertise-text100 {
  color: #ffffff;
}
.advertise-text102 {
  color: #ffffff;
}
.advertise-text104 {
  color: #ffffff;
}
.advertise-text106 {
  color: #ffffff;
}
.advertise-text108 {
  color: #ffffff;
}
.advertise-text110 {
  color: #ffffff;
}
.advertise-text112 {
  color: #ffffff;
}
.advertise-text113 {
  color: #ffffff;
}
.advertise-text114 {
  color: #ffffff;
}
.advertise-text115 {
  color: #ffffff;
}
.advertise-text116 {
  color: #ffffff;
}
.advertise-text117 {
  color: #ffffff;
}
.advertise-text118 {
  color: #ffffff;
}
.advertise-text119 {
  color: #ffffff;
}
.advertise-text120 {
  color: #ffffff;
}
.advertise-text121 {
  color: #ffffff;
}
.advertise-text122 {
  color: #ffffff;
}
.advertise-text123 {
  color: #ffffff;
}
.advertise-text124 {
  color: #ffffff;
}
.advertise-text142 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.advertise-text143 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.advertise-text144 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.advertise-text145 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.advertise-text146 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.advertise-text147 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.advertise-text148 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.advertise-text149 {
  color: #ffffff;
}
.advertise-text150 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.advertise-text151 {
  color: #ffffff;
}
.advertise-text152 {
  color: #ffffff;
}
.advertise-text153 {
  color: #ffffff;
}
.advertise-text154 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.advertise-text155 {
  color: #ffffff;
}
.advertise-text156 {
  color: #ffffff;
}
.advertise-text157 {
  color: #ffffff;
}
.advertise-text158 {
  color: #ffffff;
}
.advertise-text159 {
  color: #ffffff;
}
.advertise-text160 {
  color: #ffffff;
}
.advertise-text161 {
  color: #ffffff;
}
.advertise-text162 {
  color: #ffffff;
}
.advertise-text165 {
  color: #ffffff;
  font-weight: 500;
}
.advertise-text167 {
  color: #ffffff;
}
.advertise-hero2 {
  width: 100%;
  height: 294px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: auto;
  align-items: center;
  padding-top: 41px;
  flex-direction: column;
  padding-bottom: 339px;
  justify-content: flex-start;
}
.advertise-text169 {
  font-size: 3rem;
  text-align: center;
}
.advertise-text170 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.advertise-text171 {
  font-style: normal;
  font-weight: 600;
}
.advertise-text172 {
  font-style: normal;
  font-weight: 600;
}
.advertise-text173 {
  font-style: normal;
  font-weight: 600;
}
.advertise-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.advertise-link6 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.advertise-link6:hover {
  transform: scale(1.02);
}
.advertise-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.advertise-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.advertise-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.advertise-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.advertise-link7 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.advertise-link7:hover {
  transform: scale(1.02);
}
.advertise-container16 {
  width: 100%;
  height: 54px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #464646;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}
.advertise-text176 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .advertise-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .advertise-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .advertise-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .advertise-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .advertise-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .advertise-links1 {
    display: none;
  }
  .advertise-sign-in {
    display: none;
  }
  .advertise-get-started {
    display: none;
  }
  .advertise-mobile-menu-button {
    display: flex;
  }
  .advertise-header {
    width: 100%;
    max-width: 1200px;
  }
  .advertise-cards {
    display: flex;
    flex-direction: column;
  }
  .advertise-card {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .advertise-text009 {
    font-size: 16px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .advertise-text010 {
    font-size: 16px;
  }
  .advertise-card1 {
    width: 100%;
    align-items: flex-start;
  }
  .advertise-card2 {
    width: 100%;
    align-items: flex-start;
  }
  .advertise-get-started1 {
    display: none;
  }
  .advertise-text060 {
    text-align: center;
  }
  .advertise-get-started2 {
    display: none;
  }
  .advertise-text068 {
    text-align: center;
  }
  .advertise-get-started3 {
    display: none;
  }
  .advertise-text076 {
    text-align: center;
  }
  .advertise-get-started4 {
    display: none;
  }
  .advertise-text084 {
    text-align: center;
  }
  .advertise-get-started5 {
    display: none;
  }
  .advertise-hero1 {
    flex-direction: column;
  }
  .advertise-hero2 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .advertise-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .advertise-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .advertise-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .advertise-left {
    margin-left: var(--dl-space-space-unit);
  }
  .advertise-right {
    margin-right: var(--dl-space-space-unit);
  }
  .advertise-sign-in {
    display: none;
  }
  .advertise-get-started {
    display: none;
  }
  .advertise-header {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .advertise-text005 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .advertise-text006 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
  .advertise-pricing {
    width: 100%;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .advertise-card {
    padding-bottom: var(--dl-space-space-twounits);
  }
  .advertise-text008 {
    font-size: 28px;
  }
  .advertise-card1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .advertise-text013 {
    font-size: 28px;
  }
  .advertise-card2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .advertise-text033 {
    font-size: 28px;
  }
  .advertise-get-started1 {
    display: none;
  }
  .advertise-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .advertise-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .advertise-text063 {
    text-align: center;
  }
  .advertise-text064 {
    text-align: center;
  }
  .advertise-get-started2 {
    display: none;
  }
  .advertise-text071 {
    text-align: center;
  }
  .advertise-text072 {
    text-align: center;
  }
  .advertise-get-started3 {
    display: none;
  }
  .advertise-text079 {
    text-align: center;
  }
  .advertise-text080 {
    text-align: center;
  }
  .advertise-get-started4 {
    display: none;
  }
  .advertise-text087 {
    text-align: center;
  }
  .advertise-text088 {
    text-align: center;
  }
  .advertise-get-started5 {
    display: none;
  }
  .advertise-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .advertise-hero2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .advertise-text170 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .advertise-hero {
    padding-bottom: 160px;
  }
  .advertise-logo {
    margin-left: 0px;
  }
  .advertise-icon {
    align-items: center;
    justify-content: center;
  }
  .advertise-text006 {
    color: #EEE9FE;
  }
  .advertise-pricing {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .advertise-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .advertise-stats {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .advertise-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .advertise-hero2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .advertise-link6 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .advertise-btn-group {
    flex-direction: column;
  }
}
