.earning-dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #121317;
}
.earning-dashboard-container01 {
  width: 100%;
  height: 54px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #464646;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}
.earning-dashboard-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
}
.earning-dashboard-text01 {
  font-style: normal;
}
.earning-dashboard-text02 {
  font-weight: 900;
}
.earning-dashboard-container02 {
  width: auto;
  height: 945px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.earning-dashboard-container03 {
  flex: 0 0 auto;
  width: auto;
  height: 953px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.earning-dashboard-container04 {
  flex: 0 0 auto;
  width: auto;
  height: 953px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.earning-dashboard-container05 {
  width: 319px;
  height: 996px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #201c24;
}
.earning-dashboard-container06 {
  width: 100%;
  height: 80px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.earning-dashboard-image {
  width: auto;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
}
.earning-dashboard-text03 {
  color: rgb(0, 225, 255);
  font-size: 30px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: 0px;
}
.earning-dashboard-container07 {
  width: 100%;
  height: 134px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.earning-dashboard-image01 {
  width: 101px;
  height: 101px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.earning-dashboard-container08 {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.earning-dashboard-text04 {
  color: #ffffff;
}
.earning-dashboard-text05 {
  color: #00e1ff;
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 700;
}
.earning-dashboard-container09 {
  width: 100%;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.earning-dashboard-container10 {
  flex: 0 0 auto;
  width: 308px;
  height: 52px;
  display: flex;
  align-items: center;
  padding-top: 6px;
  margin-right: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 3px;
  flex-direction: row;
  padding-bottom: 6px;
  justify-content: flex-start;
  background-color: #181414;
}
.earning-dashboard-image02 {
  width: 33px;
  height: 30px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.earning-dashboard-text06 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 600;
}
.earning-dashboard-text07 {
  color: #00e1ff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-left: 140px;
  margin-right: 0px;
}
.earning-dashboard-container11 {
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.earning-dashboard-container12 {
  flex: 0 0 auto;
  width: 308px;
  height: 52px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: center;
  padding-top: 6px;
  margin-right: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 3px;
  flex-direction: row;
  padding-bottom: 6px;
  justify-content: flex-start;
  background-color: transparent;
}
.earning-dashboard-container12:hover {
  background-color: var(--dl-color-template-blue-bg);
}
.earning-dashboard-image03 {
  width: 33px;
  height: 30px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.earning-dashboard-text08 {
  color: var(--dl-color-gray-900);
  font-style: normal;
  font-weight: 700;
}
.earning-dashboard-container13 {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.earning-dashboard-text09 {
  color: #818181;
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
}
.earning-dashboard-container14 {
  flex: 0 0 auto;
  width: 308px;
  height: 52px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: center;
  padding-top: 6px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 3px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
.earning-dashboard-container14:hover {
  background-color: var(--dl-color-template-blue-bg);
}
.earning-dashboard-image04 {
  width: 33px;
  height: 30px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.earning-dashboard-text10 {
  color: var(--dl-color-gray-900);
  font-style: normal;
  font-weight: 700;
}
.earning-dashboard-container15 {
  flex: 0 0 auto;
  width: 308px;
  height: 52px;
  display: flex;
  align-self: center;
  margin-top: 2px;
  transition: 0.3s;
  align-items: center;
  padding-top: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 3px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
.earning-dashboard-container15:hover {
  background-color: var(--dl-color-template-blue-bg);
}
.earning-dashboard-image05 {
  width: 33px;
  height: 30px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.earning-dashboard-text11 {
  color: var(--dl-color-gray-900);
  font-style: normal;
  font-weight: 700;
}
.earning-dashboard-container16 {
  flex: 0 0 auto;
  width: 308px;
  height: 52px;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: 5px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 3px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
.earning-dashboard-container16:hover {
  background-color: var(--dl-color-template-blue-bg);
}
.earning-dashboard-image06 {
  width: 33px;
  height: 30px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.earning-dashboard-text12 {
  color: var(--dl-color-gray-900);
  font-style: normal;
  font-weight: 700;
}
.earning-dashboard-container17 {
  flex: 0 0 auto;
  width: 308px;
  height: 52px;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: 6px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 3px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
.earning-dashboard-container17:hover {
  background-color: var(--dl-color-template-blue-bg);
}
.earning-dashboard-image07 {
  width: 33px;
  height: 30px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.earning-dashboard-text13 {
  color: var(--dl-color-gray-900);
  font-style: normal;
  font-weight: 700;
}
.earning-dashboard-container18 {
  flex: 0 0 auto;
  width: 1048px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.earning-dashboard-container19 {
  width: 1034px;
  height: 992px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.earning-dashboard-container20 {
  flex: 0 0 auto;
  width: 1046px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.earning-dashboard-container21 {
  flex: 0 0 auto;
  width: 1048px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #20222b;
}
.earning-dashboard-container22 {
  flex: 0 0 auto;
  width: auto;
  height: 50%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
  background-color: #1a1c23;
}
.earning-dashboard-image08 {
  width: 22px;
  height: 24px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
}
.earning-dashboard-text14 {
  color: #00e1ff;
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.earning-dashboard-container23 {
  flex: 0 0 auto;
  width: auto;
  height: 50%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
  background-color: #1a1c23;
}
.earning-dashboard-image09 {
  width: 22px;
  height: 24px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
}
.earning-dashboard-text15 {
  color: #00e1ff;
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.earning-dashboard-container24 {
  flex: 0 0 auto;
  width: auto;
  height: 50%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
  background-color: #1a1c23;
}
.earning-dashboard-image10 {
  width: 22px;
  height: 24px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
}
.earning-dashboard-text16 {
  color: #00e1ff;
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.earning-dashboard-container25 {
  flex: 0 0 auto;
  width: auto;
  height: 50%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
  background-color: #1a1c23;
}
.earning-dashboard-image11 {
  width: 22px;
  height: 24px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
}
.earning-dashboard-text17 {
  color: #00e1ff;
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.earning-dashboard-container26 {
  flex: 0 0 auto;
  width: auto;
  height: 50%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
  background-color: #1a1c23;
}
.earning-dashboard-image12 {
  width: 22px;
  height: 24px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
}
.earning-dashboard-text18 {
  color: #00e1ff;
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.earning-dashboard-container27 {
  width: 1053px;
  height: 295px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.earning-dashboard-text19 {
  color: #b7b7b7;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-unit);
}
.earning-dashboard-container28 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.earning-dashboard-container29 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xxlarge);
  height: 100px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
  background-color: #1a1c23;
}
.earning-dashboard-container29:hover {
  width: var(--dl-size-size-xxlarge);
  height: 105px;
  background-color: #414141;
}
.earning-dashboard-container30 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: #181414;
}
.earning-dashboard-image13 {
  width: 38px;
  height: 40px;
  object-fit: cover;
}
.earning-dashboard-container31 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.earning-dashboard-text20 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.earning-dashboard-text21 {
  color: #00e1ff;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
}
.earning-dashboard-container32 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xxlarge);
  height: 100px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
  background-color: #1a1c23;
}
.earning-dashboard-container32:hover {
  width: var(--dl-size-size-xxlarge);
  height: 105px;
  background-color: #414141;
}
.earning-dashboard-container33 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: #181414;
}
.earning-dashboard-image14 {
  width: 38px;
  height: 40px;
  object-fit: cover;
}
.earning-dashboard-container34 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.earning-dashboard-text22 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.earning-dashboard-text23 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
}
.earning-dashboard-container35 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xxlarge);
  height: 100px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
  background-color: #1a1c23;
}
.earning-dashboard-container35:hover {
  width: var(--dl-size-size-xxlarge);
  height: 105px;
  background-color: #414141;
}
.earning-dashboard-container36 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: #181414;
}
.earning-dashboard-image15 {
  width: 38px;
  height: 40px;
  object-fit: cover;
}
.earning-dashboard-container37 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.earning-dashboard-text24 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.earning-dashboard-text25 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
}
.earning-dashboard-container38 {
  width: auto;
  height: 634px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.earning-dashboard-container39 {
  width: 597px;
  height: 592px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1a1c23;
}
.earning-dashboard-container40 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.earning-dashboard-text26 {
  color: rgb(183, 183, 183);
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.earning-dashboard-text27 {
  color: rgb(0, 225, 255);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
}
.earning-dashboard-div {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-threeunits);
}
.earning-dashboard-container41 {
  width: 100%;
  height: 187px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.earning-dashboard-text28 {
  color: #ffffff;
}
.earning-dashboard-text29 {
  color: #ffffff;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: justify;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.earning-dashboard-container42 {
  width: 269px;
  height: 592px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #1a1c23;
}
.earning-dashboard-text30 {
  color: rgb(183, 183, 183);
  font-size: 30px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.earning-dashboard-container43 {
  width: 100%;
  height: 546px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.earning-dashboard-text31 {
  margin-top: var(--dl-space-space-twounits);
}
.earning-dashboard-text32 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text33 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text34 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text35 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text36 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text37 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text38 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text39 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text40 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text41 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text42 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text43 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text44 {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 500;
}
.earning-dashboard-text47 {
  color: rgb(249, 249, 249);
  font-size: 30px;
}
.earning-dashboard-container44 {
  flex: 0 0 auto;
  width: 216px;
  height: 52px;
  display: flex;
  align-self: center;
  margin-top: 150px;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  padding-top: 6px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 3px;
  flex-direction: row;
  padding-bottom: 6px;
  justify-content: center;
  background-color: #181414;
}
.earning-dashboard-text51 {
  color: var(--dl-color-gray-white);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
