.how-it-works-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.how-it-works-hero {
  width: 100%;
  height: 472px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
.how-it-works-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.how-it-works-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.how-it-works-logo {
  width: 64px;
}
.how-it-works-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.how-it-works-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.how-it-works-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.how-it-works-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.how-it-works-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  transition: 0.3s;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}


.how-it-works-text03 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.how-it-works-left {
  width: 530px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.how-it-works-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.how-it-works-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.how-it-works-sign-in {
  margin-right: 20px;
}
.how-it-works-link {
  display: contents;
}
.how-it-works-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.how-it-works-get-started:hover {
  background-color: #5228F5;
}
.how-it-works-text09 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.how-it-works-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.how-it-works-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.how-it-works-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.how-it-works-text10 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.how-it-works-text11 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.how-it-works-hero1 {
  width: 100%;
  height: 1051px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  min-height: 35vh;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: 20px;
  justify-content: center;
}
.how-it-works-container1 {
  width: 1010px;
  height: auto;
  display: flex;
  align-items: space-between;
  margin-right: 128px;
  flex-direction: column;
}
.how-it-works-container2 {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.how-it-works-text12 {
  font-size: 30px;
}
.how-it-works-text13 {
  font-size: 30px;
}
.how-it-works-text15 {
  font-size: 3rem;
  max-width: 450px;
}
.how-it-works-text16 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.how-it-works-container3 {
  width: 807px;
  height: 43px;
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.how-it-works-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.how-it-works-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.how-it-works-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.how-it-works-button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.how-it-works-button1:hover {
  border-color: var(--dl-color-gray-black);
}
.how-it-works-text19 {
  color: rgb(0, 0, 0);
  height: 120px;
  font-size: 3rem;
  padding-top: 3px;
}
.how-it-works-text24 {
  color: rgb(10, 8, 8);
  margin: 0px;
}
.how-it-works-text28 {
  color: rgb(0, 0, 0);
  height: 120px;
  font-size: 3rem;
  padding-top: 3px;
}
.how-it-works-text33 {
  color: rgb(10, 8, 8);
  margin: 0px;
}
.how-it-works-text37 {
  color: rgb(0, 0, 0);
  height: 120px;
  font-size: 3rem;
  padding-top: 3px;
}
.how-it-works-text42 {
  color: rgb(10, 8, 8);
  margin: 0px;
}
.how-it-works-text47 {
  color: rgb(0, 0, 0);
  height: 120px;
  font-size: 3rem;
  padding-top: 3px;
}
.how-it-works-text52 {
  color: rgb(10, 8, 8);
  margin: 0px;
}
.how-it-works-header1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.how-it-works-hero2 {
  width: 100%;
  height: 290px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
  background-color: #5228F5;
}
.how-it-works-text55 {
  color: rgb(255, 255, 255);
  width: 920px;
  height: 96px;
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.how-it-works-menu1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.how-it-works-mobile-navigation1 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.how-it-works-logo1 {
  width: 64px;
}
.how-it-works-links2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.how-it-works-close-mobile-menu1 {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.how-it-works-icon2 {
  width: 24px;
  height: 24px;
  display: flex;
}
.how-it-works-container4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5228F5;
}
.how-it-works-get-started1 {
  width: 203px;
  cursor: pointer;
  height: 75px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #000000;
}
.how-it-works-get-started1:hover {
  background-color: #5228F5;
}
.how-it-works-text63 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
.how-it-works-text65 {
  color: var(--dl-color-gray-white);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
.how-it-works-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #000000;
}
.how-it-works-top {
  width: 100%;
  height: 247px;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.how-it-works-right1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.how-it-works-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.how-it-works-text66 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.how-it-works-text67 {
  font-size: 30px;
}
.how-it-works-links3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.how-it-works-text69 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
}
.how-it-works-text70 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.how-it-works-text71 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.how-it-works-category1 {
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.how-it-works-text73 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.how-it-works-links4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.how-it-works-text74 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.how-it-works-text75 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.how-it-works-text76 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.how-it-works-text77 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.how-it-works-category2 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.how-it-works-text78 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.how-it-works-links5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.how-it-works-link1 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.how-it-works-link2 {
  color: rgb(196, 196, 196);
  font-size: 14px;
  text-decoration: none;
}
.how-it-works-text79 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.how-it-works-text80 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.how-it-works-image {
  top: 386px;
  left: 99px;
  width: 100px;
  position: absolute;
  object-fit: cover;
}
.how-it-works-text82 {
  top: 410px;
  left: 221px;
  color: rgb(251, 250, 250);
  position: absolute;
  font-size: 45px;
}
.how-it-works-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.how-it-works-text83 {
  color: rgb(104, 104, 104);
  font-size: 14px;
  line-height: 30px;
}
@media(max-width: 991px) {
  .how-it-works-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .how-it-works-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .how-it-works-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .how-it-works-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .how-it-works-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .how-it-works-links1 {
    display: none;
  }
  .how-it-works-sign-in {
    display: none;
  }
  .how-it-works-get-started {
    display: none;
  }
  .how-it-works-mobile-menu-button {
    display: flex;
  }
  .how-it-works-header {
    width: 100%;
    max-width: 1200px;
  }
  .how-it-works-hero1 {
    flex-direction: column;
  }
  .how-it-works-text15 {
    text-align: center;
  }
  .how-it-works-text16 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .how-it-works-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .how-it-works-text24 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .how-it-works-text33 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .how-it-works-text42 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .how-it-works-text52 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .how-it-works-header1 {
    width: 100%;
    max-width: 1200px;
  }
  .how-it-works-hero2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .how-it-works-close-mobile-menu1 {
    align-items: center;
    justify-content: center;
  }
  .how-it-works-get-started1 {
    display: none;
  }
  .how-it-works-footer {
    padding: var(--dl-space-space-sixunits);
  }
  .how-it-works-top {
    flex-direction: column;
  }
  .how-it-works-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .how-it-works-links3 {
    gap: var(--dl-space-space-unit);
  }
  .how-it-works-links4 {
    gap: var(--dl-space-space-unit);
  }
  .how-it-works-links5 {
    gap: var(--dl-space-space-unit);
  }
  .how-it-works-text83 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .how-it-works-text84 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .how-it-works-text85 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .how-it-works-text86 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .how-it-works-text87 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .how-it-works-text88 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .how-it-works-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .how-it-works-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .how-it-works-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .how-it-works-left {
    margin-left: var(--dl-space-space-unit);
  }
  .how-it-works-right {
    margin-right: var(--dl-space-space-unit);
  }
  .how-it-works-sign-in {
    display: none;
  }
  .how-it-works-get-started {
    display: none;
  }
  .how-it-works-header {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .how-it-works-text10 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .how-it-works-text11 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
  .how-it-works-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .how-it-works-text16 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .how-it-works-text24 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .how-it-works-text33 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .how-it-works-text42 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .how-it-works-text52 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .how-it-works-header1 {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .how-it-works-hero2 {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .how-it-works-text55 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .how-it-works-text56 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .how-it-works-get-started1 {
    display: none;
  }
  .how-it-works-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .how-it-works-hero {
    padding-bottom: 160px;
  }
  .how-it-works-logo {
    margin-left: 0px;
  }
  .how-it-works-icon {
    align-items: center;
    justify-content: center;
  }
  .how-it-works-text11 {
    color: #EEE9FE;
  }
  .how-it-works-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .how-it-works-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .how-it-works-btn-group {
    flex-direction: column;
  }
  .how-it-works-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .how-it-works-hero2 {
    padding-bottom: 160px;
  }
  .how-it-works-logo1 {
    margin-left: 0px;
  }
  .how-it-works-icon2 {
    align-items: center;
    justify-content: center;
  }
  .how-it-works-footer {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
