.miner-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.miner-hero {
  width: 100%;
  height: 1065px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  margin-bottom: 536px;
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
.miner-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.miner-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.miner-logo {
  width: 64px;
}
.miner-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.miner-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.miner-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.miner-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.miner-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  transition: 0.3s;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}


.miner-text3 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.miner-left {
  width: 530px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.miner-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.miner-link {
  text-decoration: none;
}
.miner-link1 {
  text-decoration: none;
}
.miner-link2 {
  text-decoration: none;
}
.miner-link3 {
  text-decoration: none;
}
.miner-link4 {
  text-decoration: none;
}
.miner-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.miner-sign-in {
  margin-right: 20px;
  text-decoration: none;
}
.miner-link5 {
  display: contents;
}
.miner-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.miner-get-started:hover {
  background-color: #5228F5;
}
.miner-text4 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.miner-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.miner-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.miner-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.miner-text5 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  line-height: 80px;
}

.miner-text6 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.miner-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 0px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.miner-div {
  width: 724px;
  height: 441px;
}
@media(max-width: 991px) {
  .miner-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .miner-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .miner-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .miner-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .miner-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .miner-links1 {
    display: none;
  }
  .miner-sign-in {
    display: none;
  }
  .miner-get-started {
    display: none;
  }
  .miner-mobile-menu-button {
    display: flex;
  }
  .miner-header {
    width: 100%;
    max-width: 1200px;
  }
}
@media(max-width: 767px) {
  .miner-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .miner-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .miner-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .miner-left {
    margin-left: var(--dl-space-space-unit);
  }
  .miner-right {
    margin-right: var(--dl-space-space-unit);
  }
  .miner-sign-in {
    display: none;
  }
  .miner-get-started {
    display: none;
  }
  .miner-header {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .miner-text5 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .miner-text6 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .miner-hero {
    padding-bottom: 160px;
  }
  .miner-logo {
    margin-left: 0px;
  }
  .miner-icon {
    align-items: center;
    justify-content: center;
  }
  .miner-text6 {
    color: #EEE9FE;
  }
}
