.refferal-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.refferal-hero {
  width: 100%;
  height: 1001px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
.refferal-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.refferal-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.refferal-logo {
  width: 64px;
}
.refferal-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.refferal-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.refferal-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.refferal-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.refferal-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  transition: 0.3s;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}


.refferal-text03 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.refferal-left {
  width: 530px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.refferal-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.refferal-link {
  text-decoration: none;
}
.refferal-link1 {
  text-decoration: none;
}
.refferal-link2 {
  text-decoration: none;
}
.refferal-link3 {
  text-decoration: none;
}
.refferal-link4 {
  text-decoration: none;
}
.refferal-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.refferal-sign-in {
  margin-right: 20px;
  text-decoration: none;
}
.refferal-link5 {
  display: contents;
}
.refferal-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.refferal-get-started:hover {
  background-color: #5228F5;
}
.refferal-text04 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.refferal-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.refferal-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.refferal-header {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.refferal-image {
  width: 336px;
  height: 310px;
  object-fit: cover;
}
.refferal-container1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 45px;
  display: flex;
  align-items: flex-start;
}
.refferal-text05 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  line-height: 80px;
}

.refferal-text06 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.refferal-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.refferal-link6 {
  display: contents;
}
.refferal-get-started1 {
  width: 227px;
  cursor: pointer;
  height: 74px;
  display: flex;
  align-self: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  text-decoration: none;
  background-color: #000000;
}
.refferal-get-started1:hover {
  background-color: #5228F5;
}
.refferal-text07 {
  color: rgb(255, 255, 255);
  width: 106px;
  height: 43px;
  font-size: 30px;
  text-align: center;
}
.refferal-text08 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.refferal-text09 {
  font-size: 20px;
}
@media(max-width: 991px) {
  .refferal-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .refferal-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .refferal-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .refferal-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .refferal-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .refferal-links1 {
    display: none;
  }
  .refferal-sign-in {
    display: none;
  }
  .refferal-get-started {
    display: none;
  }
  .refferal-mobile-menu-button {
    display: flex;
  }
  .refferal-header {
    width: 100%;
    max-width: 1200px;
  }
  .refferal-get-started1 {
    display: none;
  }
}
@media(max-width: 767px) {
  .refferal-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .refferal-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .refferal-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .refferal-left {
    margin-left: var(--dl-space-space-unit);
  }
  .refferal-right {
    margin-right: var(--dl-space-space-unit);
  }
  .refferal-sign-in {
    display: none;
  }
  .refferal-get-started {
    display: none;
  }
  .refferal-header {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .refferal-text05 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .refferal-text06 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
  .refferal-get-started1 {
    display: none;
  }
}
@media(max-width: 479px) {
  .refferal-hero {
    padding-bottom: 160px;
  }
  .refferal-logo {
    margin-left: 0px;
  }
  .refferal-icon {
    align-items: center;
    justify-content: center;
  }
  .refferal-text06 {
    color: #EEE9FE;
  }
}
