.tos-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.tos-container1 {
  width: 100%;
  height: 54px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #464646;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}
.tos-text {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.tos-hero {
  width: 100%;
  height: 472px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
.tos-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tos-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.tos-logo {
  width: 64px;
}
.tos-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.tos-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.tos-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.tos-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.tos-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  transition: 0.3s;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}


.tos-text04 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.tos-left {
  width: 530px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.tos-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.tos-link {
  text-decoration: none;
}
.tos-link1 {
  text-decoration: none;
}
.tos-link2 {
  text-decoration: none;
}
.tos-link3 {
  text-decoration: none;
}
.tos-link4 {
  text-decoration: none;
}
.tos-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.tos-sign-in {
  margin-right: 20px;
  text-decoration: none;
}
.tos-link5 {
  display: contents;
}
.tos-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.tos-get-started:hover {
  background-color: #5228F5;
}
.tos-text05 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.tos-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tos-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.tos-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.tos-text06 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  line-height: 80px;
}

.tos-text07 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.tos-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.tos-text08 {
  font-size: 3rem;
  text-align: center;
}
.tos-banner {
  width: 100%;
  height: 578px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.tos-text11 {
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  margin-bottom: var(--dl-space-space-twounits);
}
.tos-text12 {
  font-family: Noto Sans;
  font-weight: 600;
}
.tos-text15 {
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 900;
}
.tos-text16 {
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 900;
}
.tos-text17 {
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 600;
}
.tos-text20 {
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 600;
}
.tos-text23 {
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 600;
}
.tos-text26 {
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 600;
}
.tos-text30 {
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 900;
}
.tos-text32 {
  font-style: normal;
  font-weight: 600;
}
.tos-text35 {
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 600;
}
@media(max-width: 991px) {
  .tos-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .tos-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .tos-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .tos-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .tos-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .tos-links1 {
    display: none;
  }
  .tos-sign-in {
    display: none;
  }
  .tos-get-started {
    display: none;
  }
  .tos-mobile-menu-button {
    display: flex;
  }
  .tos-header {
    width: 100%;
    max-width: 1200px;
  }
  .tos-text11 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .tos-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .tos-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .tos-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .tos-left {
    margin-left: var(--dl-space-space-unit);
  }
  .tos-right {
    margin-right: var(--dl-space-space-unit);
  }
  .tos-sign-in {
    display: none;
  }
  .tos-get-started {
    display: none;
  }
  .tos-header {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .tos-text06 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .tos-text07 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
  .tos-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .tos-text11 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .tos-hero {
    padding-bottom: 160px;
  }
  .tos-logo {
    margin-left: 0px;
  }
  .tos-icon {
    align-items: center;
    justify-content: center;
  }
  .tos-text07 {
    color: #EEE9FE;
  }
  .tos-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
